@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Cairo:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-cairo: "Cairo", sans-serif;
  --font-amiri: "Amiri", serif;
}

body {
  background-color: #0f172a; /* slate-900 */
  margin: 0;
  padding: 0;
}
